.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(37, 37, 37);
}

body ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  transition-duration: 200ms;
}

li a:hover {
  background-color: rgb(184, 184, 184);
  transition-delay: 0.1s;
  transition-duration: 200ms;
}

li a:hover:not(.about) {
  background-color: #111;
}

.about {
  background-color: #ffffff;
}